* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: ##ccebf5;
    color: #333;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00adb5;
}

/* Sections */
section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #222;
}

/* Skills */
ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Projects */
.project-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

